.button-small {
    border: 1px solid #777777;
    border-radius: 25px;
    padding: 12px 25px;
    &:hover {
        color: #29AD93;
        border: 1px solid #29AD93;
    }

}

.button-small-another {
    border: 1px ;
    background: #29AD93;
    color: #fff !important;
    border-radius: 25px;
    padding: 12px 25px;
    &:active {
        color: #29AD93 !important;
        background: #fff;
    }
}

.button-small--blue {
color: #5182FF;
}

.button-small--background {
background: rgba(137, 161, 223, 0.14);
}

.button-small--gray {
   color: #808080;
}

.button-big {
    font-size: 26px;
    line-height: 1;
    padding: 16px 32px;
    border-radius: 32px;
    background: #29AD93;
    color: #fff !important ;
    position: relative;
    // opacity: 0;
    /* Tablet */
    @media (max-width: 1199px) {
    font-size: 22px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
    font-size: 20px;
    }
    &::before {
        content: '';
          border-radius: 1000px;
          min-width: calc(300px + 12px);
          min-height: calc(60px + 12px);
          border: 6px solid #00FFCB;
          box-shadow: 0 0 60px rgba(0,255,203,.64);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all .3s ease-in-out 0s;
                    /* Mobile XS */
                    @media (max-width: 899px) {
                      display: none;
                      }
        }
        
        &:hover, .button:focus {
          color: #313133;
          transform: translateY(-6px);
        }
        
        &:hover::before, button:focus::before {
          opacity: 1;
        }
        
        &::after {
          content: '';
          width: 30px; height: 30px;
          border-radius: 100%;
          border: 6px solid #00FFCB;
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: ring 1.5s infinite;
          z-index: 9;
          /* Mobile XS */
          @media (max-width: 899px) {
          display: none;
          }
        }
        
        &:hover::after, button:focus::after {
          animation: none;
          display: none;
        }
        
        @keyframes ring {
          0% {
            width: 30px;
            height: 30px;
            opacity: 1;
          }
          100% {
            width: 300px;
            height: 300px;
            opacity: 0;
          }
        }
    
    // &:hover {
    //    line-height: 1.1;
    // }
    // &:active {
    //     background: #259f86;
    // }
}

                    // мобильная навигация
// Ширина и высота линии в иконке
$lineWidth: 20px;
$lineHeight: 3px;
$radius: 2px;
$lineMargin: 4px;
$color: #000;

// Размеры контейнера
// $width: $lineWidth;
// $height: $lineHeight * 3 + $lineMargin * 2;

$width: 60px;
$height: 60px;

.nav-icon {
  display: none;
  /* Mobile */
  @media (max-width: 899px) {
    width: $width;
    height: $height;
    // color: #000;
    display: flex;
	justify-content: center;
	align-items: center;

    // background-color: #fff;
    border-radius: 50%;
    border: none;
    background: #29AD93;
    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #29AD93;

        .nav-icon__middle,
        .nav-icon__middle::before,
        .nav-icon__middle::after {
            background-color: #FFF;
        }
    }

    &:focus {
        outline: none;
    }
  }
   
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: $color;
    border-radius: $radius;
    transition: background-color 0.2s ease-in;
    z-index: 9;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        width: $lineWidth;
        height: $lineHeight;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        background-color: $color;
        border-radius: $radius;
        transition: background-color 0.2s ease-in;
    }

    &::before {
        top: -($lineHeight + $lineMargin);
    }

    &::after {
        top: $lineHeight + $lineMargin;
    }
}

/* Active state */

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}